* {
  box-sizing: border-box;
  margin: 0;
}

.dark-theme {
  --background-color: rgb(65, 74, 111);
  --background-dark-color: rgb(34, 38, 57);
  --text-alpha-color: rgba(255, 255, 255, .2);
  --text-color: white;
  --accent-color: rgb(147, 247, 233);
  --green-color: rgb(86, 212, 91);
  --red-color: rgb(255, 107, 103);
}

.light-theme {
  --background-color: rgb(189, 189, 189);
  --background-dark-color: rgb(222, 222, 222);
  --text-alpha-color: rgba(0, 0, 0, .2);
  --text-color: black;
  --accent-color: rgb(147, 247, 233);
  --green-color: rgb(86, 212, 91);
  --red-color: rgb(255, 107, 103);
}

html, body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  transition: all .2s;
}

.app-wrapper {
  font-size: 1.6rem; /* Base height is 16pt */
  height: 100%;
  width: 100%;
}

/* Header section */

.header {
  align-items: center;
  background-color: var(--background-dark-color);
  display: flex;
  height: 6rem;
  justify-content: space-evenly;
  width: 100%;
}

.header .light-fever-on,
.header .light-fever-off {
  border: solid 1px grey;
  border-radius: 5px;
  color: var(--text-color);
  height: 4rem;
  padding: 0;
  width: 4rem;
  transition: background-color .2s;
}

.header .light-fever-on {
  background-color: var(--green-color);
}

.header .light-fever-off {
  background-color: var(--red-color);
}

/* Tabs */

.tabs {
  align-items: center;
  background-color: var(--background-dark-color);
  border-bottom: solid 1px grey;
  display: flex;
  height: 3rem;
  position: relative;
}

.tabs p {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 50%;
}

.tabs p.selected {
  font-weight: bold;
}

.tabs .border {
  bottom: 0;
  height: 2px;
  background-color: var(--accent-color);
  left: 0;
  position: absolute;
  width: 50%;
  transition: left .2s ease-in-out;
}

/* Container */

.container {
  height: calc(100% - 12rem);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.manual-container,
.auto-container {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: left .2s ease-in-out;
}

.manual-container {
  left: 0;
}

.auto-container {
  left: 100%;
}

.effect-container,
.option-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.effect-container p,
.option-container p {
  font-style: italic;
  font-weight: bold;
  margin-top: 1.6rem;
  text-align: center;
}

.effect-type,
.option-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.6rem;
}

.effect-type button,
.option-type button {
  background-color: transparent;
  border: solid 1px var(--text-color);
  border-radius: .3rem;
  color: var(--text-color);
  height: 4rem;
  padding: .5rem 1rem;
  margin: .5rem;
}

.effect-type button.selected,
.option-type button.selected {
  background-color: var(--text-alpha-color);
  font-weight: bold;
}

/* Status Bar */

.status-bar {
  background-color: var(--background-dark-color);
  border-top: solid 1px grey;
  height: 3rem;
  width: 100%;
}

/* Tools */
.switch-wrapper {
  align-items: center;
	display: flex;
  flex: 1;
	height: 100%;
  justify-content: center;
  width: 5rem;
}

input[type="checkbox"].switch {
  appearance: none;
	height: calc(1.5rem + 2px);
	background-color: var(--red-color);
  border: solid 1px grey;
	border-radius: 3rem;
	position: relative;
	outline: none;
  width: 4rem;
	transition: all .2s ease-in-out;
}

input[type="checkbox"].switch:checked {
	background-color: var(--green-color);
}

input[type="checkbox"].switch:after {
  content: '';
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .9);
	height: 1.5rem;
  left: 0;
  position: absolute;
  transform: scale(.7);
  width: 1.5rem;
	transition: all .2s ease-in-out;
}

input[type="checkbox"].switch:checked:after {
	left: calc(100% - 1.5rem);
}
