.app-wrapper {
  font-size: 1.6rem; /* Base height is 16pt */
  height: 100%;
  width: 100%;
  z-index: 500;
}

/* Header section (both page and modal header/footer)*/

.header,
.footer {
  align-items: center;
  background-color: var(--background-dark-color);
  display: flex;
  flex-direction: column;
  height: var(--header-height);
  justify-content: space-evenly;
  width: 100%;
}

.header h1 {
  font-size: 2.2rem;
}

.header h2 {
  font-size: 1.3rem;
  font-style: italic;
}

/* Tabs */

.tabs {
  align-items: center;
  background-color: var(--background-dark-color);
  border-bottom: solid 1px grey;
  display: flex;
  height: var(--tabs-height);
  position: relative;
}

.tabs p {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 50%;
}

.tabs p.selected {
  font-weight: bold;
}

.tabs .border {
  bottom: 0;
  height: 2px;
  background-color: var(--accent-color);
  left: 0;
  position: absolute;
  width: 50%;
  transition: left .2s ease-in-out;
}

/* Container */

.container {
  height: calc(100% - var(--header-height) - var(--tabs-height) - var(--status-height) - var(--global-height));
  overflow: hidden;
  position: relative;
  width: 100%;
}

.manual-container,
.auto-container {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: left .2s ease-in-out;
}

.manual-container {
  left: 0;
}

.auto-container {
  left: 100%;
}

.effect-container,
.option-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.effect-container p,
.option-container p {
  font-style: italic;
  font-weight: bold;
  margin: 1.6rem 0;
  text-align: center;
}

.effect-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option-type {
  background-color: var(--background-dark-color);
  border: solid 1px grey;
  border-radius: 3px;
  display: none;
  padding: 1rem;
  width: 90%;
}

.single-option {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
  position: relative;
  width: 100%;
}

.single-option label {
  font-size: 1.2rem;
  max-width: 33%;
}

.single-option input[type="color"] {
  height: calc(1.5rem + 2px);
  max-width: 5rem;
  margin: 0;
  padding: .1rem;
  width: 5rem;
}

.range-wrapper {
  align-items: center;
	display: flex;
  flex: 1;
	height: 100%;
  justify-content: center;
  max-width: 67%;
  width: 67%;
}

.btn {
  background-color: transparent;
  border: solid 1px var(--text-color);
  border-radius: .3rem;
  color: var(--text-color);
  height: 4rem;
  padding: .5rem 1rem;
  position: relative;
  margin: .5rem;
}

.btn.selected {
  background-color: var(--text-alpha-color);
  font-weight: bold;
}

input[type="color"] {
  height: 3rem;
  padding: .5rem;
  width: calc(100% - 1rem);
}

/* Global controls */

.global-controls {
  align-items: center;
  display: flex;
  height: var(--global-height);
  justify-content: space-between;
  width: 100%;
}

.light-fever-on,
.light-fever-off {
  border: solid 1px grey;
  border-radius: 5px;
  color: var(--text-color);
  height: 4rem;
  margin: .5rem;
  padding: 0;
  right: 1rem;
  width: 4rem;
  transition: background-color .2s;
}

.light-fever-on {
  background-color: var(--green-color);
}

.light-fever-off {
  background-color: var(--red-color);
}

.strob-wrapper {
  align-items: center;
  display: flex;
}

.opts {
  width: 2rem;
  height: 2rem;
  top: 1rem;
}

svg {
  fill: var(--accent-color);
}

/* Status Bar */

.status-bar {
  align-items: center;
  background-color: var(--background-dark-color);
  border-top: solid 1px grey;
  display: flex;
  height: var(--status-height);
  justify-content: space-between;
  width: 100%;
}

.status-text {
  font-size: 1.3rem;
  height: 1.3rem;
  margin-right: .5rem;
  text-align: right;
}
